<ion-view view-title="Edit">
  <ion-content>
	<form ng-submit="doUpdate()">
		<div ng-controller="testingCtrl">		
		 <label class="item item-input">
			  <span class="input-label">Id</span>			 
			  <input type="text" ng-model="studentData.id">
			</label>
			<label class="item item-input">
			  <span class="input-label">{{title}}</span>			 
			  <input type="text" ng-model="studentData.Name" required>
			</label>
			<label class="item item-input">
			  <span class="input-label">City</span>
			  <input type="text" ng-model="studentData.City" required>
			</label>
			<label class="item item-input">
			  <span class="input-label">Country</span>
			  <input type="text" ng-model="studentData.Country" required>
			</label>
			<label class="item">
			  <button class="button button-block button-positive" type="submit">Update</button>
			</label>
      </div>
  </form>
		
  </ion-content>
</ion-view>
